* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: #4c4c4c;
    background-color: #fbfbfb;
    min-width: 320px;
}

button {
  border: none;
  padding: 0px;
  background-color: #fbfbfb;
  cursor: pointer;
}

p {
  margin: 0px;
}

p.header {
  padding: 3% 0;
  font-size: 30px;
}

/*
  Header styles
*/

#header {
  height: 75px;
  display: table;
  width: 100%;
}

#header-logo {
  font-size: 24px;
}

#header > div {
  display: table-cell;
  vertical-align: middle;
}

#header-main {
  padding: 0 5% 0 5%;
}

#header-menu-button {
  height: 24px;
  width: 24px;
  background-size: 24px;
  float: right;
  margin: 2px 0 0 0;
}

/*
  About styles
*/

#about {
  width: 100%;
  padding: 0 5%;
}

#about-image-container {
  text-align: center;
  padding: 1% 0;
}

#about-image {
  border-radius: 50%;
  height: 256px;
  width: 256px;
}

#about-desc-container {
  width: 100%;
  text-align: center;
}

.about-desc {
  margin-bottom: 2.5%;
}
